@mobile: ~"only screen and (max-width: 667px)";
@desktop: ~"only screen and (min-width: 668px)";

* {
	-webkit-font-smoothing: antialiased;
}

::selection {
	
}

html, body {

	background: black;

	button {
	}

	pre {
		font-size: 24px;
		color: white;
	}

	#object {
		width: 900px;
		height: 900px;
		background: red;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 0px;
	}

}